li {
    list-style: none;
}

.container {
    background-image: url("../img/wallpaper.jpg");
    background-repeat: repeat-y;
}

.questions-container{

    text-align: center;
}

.questions-containerLI{
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 4px 5px black, 2px 2px 9px #9BB520;
}

.questions-containerA{
    color: #EAEAEA;
    font-size: 2.1em;
    font-family: fantasy;
    text-decoration: none;
}

.load-questions{
    text-align: center;
}

.questions-head, .questions-h1,.questions-h2 {
    margin-left: 15px;
    color: #D6D4D4;
    font-size: 2.5em;
    font-family: fantasy;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: 1px 4px 5px black, 2px 2px 9px #292F0A;
}

.questionsUser{
    font-size: 1em;
    color:white;
}

.questions-h1{
    font-size: 2em;
    color: white;
    font-weight: 100;
}

.questions-h2 {
    text-decoration: underline;
    margin-left: 0;
}

.article-info {
    width: 80%;
    background: rgba(84, 84, 84, 0.21);
    margin: auto;
    padding: 20px;
    font-size: 1.6em;
    color: maroon;
    font-family: monospace;
    margin-top: 20px;
}

.main-image {
    width: 20%;
    position: fixed;
    right: 0;
    opacity: 0.4;
}